.delete-comment-button{
    background-color: rgb(75, 0, 0);
    border: solid 1px red;
    color:rgb(255, 0, 0);
    border-radius: 10px;
}

.comment-delete{
    background-color: rgb(126, 0, 0);
    border: solid 1px red;
    border-radius: 25px;
    color: red;
    width: 350px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.of-course{
    background-color: rgb(71, 0, 0);
    border: solid 1px red;
    color: red;
    border-radius: 10px;
}

.nah{
    background-color: rgb(0, 9, 58);
    border: solid 1px rgb(0, 162, 255);
    margin-top: 10px;
    color: rgb(0, 162, 255);
    border-radius: 10px;
}
