.the-comment{
    background-color: rgb(0, 116, 81);
    border-radius: 5px;
    border: solid 1px;
    border-color: rgb(0, 255, 179);
    padding: 3px;
}

.user{
    color: rgb(0, 12, 119);
    font-weight: bold;
}

.user-comment{
    color:aqua;
}
