.demo{
    font-size: 15px;
    background-color: rgb(0, 58, 3);
    color: rgb(0, 255, 13);
    border-top: solid 1px rgb(0, 245, 33);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.home-page{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
