.demo{
    font-size: 15px;
    background-color: rgb(58, 38, 0);
    color: rgb(255, 174, 0);
    border-top: solid 1px rgb(255, 174, 0);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.log-out{
  background-color: rgb(58, 0, 0);
  border: solid 1px red;
  border-radius: 5px;
  color: red;
}

.to-the-images{
  text-decoration: none;
  color: rgb(60, 255, 0);
  padding: 3px;
  border-radius: 5px;
  border: solid rgb(60, 255, 0) 1px;
  background-color: rgb(12, 61, 0);
}

.user-profile-button{
  text-decoration: none;
  color: rgb(0, 217, 255);
  padding: 3px;
  border-radius: 5px;
  border: solid rgb(0, 217, 255) 1px;
  background-color: rgb(0, 54, 61);
}

.profile-dropdown{
  color:rgb(21, 255, 0);
  margin-right: 10px;
}

.profile-dropdown li {
  list-style-type: none;
  margin: 5px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    width: 125px;
    height: 40px;
}

.home-page{
    display: flex;
    align-items: center;
}

#nav-tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(36, 41, 41, 0.726);
    border-radius: 5px;

}

.home-back {
    background-image: url("https://res.cloudinary.com/dzjkwepju/image/upload/v1634223704/Styckr/z_luniav.jpg");
    animation: chbg 10s infinite alternate;
    background-size: cover;
    /* animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
  }

  @keyframes chbg {
    50% {
      background-image: url("https://res.cloudinary.com/dzjkwepju/image/upload/v1634223700/Styckr/zz_souyxf.jpg");
      background-size: cover;
    }
    80% {
      background-image: url("https://res.cloudinary.com/dzjkwepju/image/upload/v1634223693/Styckr/zzzz_frsbhv.jpg");
      background-size: cover;
    }
    100% {
      background-image: url("https://res.cloudinary.com/dzjkwepju/image/upload/v1634223696/Styckr/zzz_ay07gu.jpg");
      background-size: cover;
    }
  }
