.demo{
    font-size: 15px;
    background-color: rgb(58, 38, 0);
    color: rgb(255, 174, 0);
    border-top: solid 1px rgb(255, 174, 0);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.profile-dropdown{
  color:rgb(21, 255, 0);
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    width: 125px;
    height: 40px;
}

.home-page{
    display: flex;
    align-items: center;
}

#nav-tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(36, 41, 41, 0.726);
    border-radius: 5px;

}

.home-back {
    background-image: url("../../images/1.jpg");
    animation: chbg 10s infinite alternate;
    background-size: cover;
    /* animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
  }

  @keyframes chbg {
    50% {
      background-image: url("../../images/2.jpg");
      background-size: cover;
    }
    80% {
      background-image: url("../../images/3.jpg");
      background-size: cover;
    }
    100% {
      background-image: url("../../images/4.jpg");
      background-size: cover;
    }
  }
